
@import "@/assets/scss/utils.scss";

$item-count: 4;

$circle-size: 3.5rem;
$item-size: 2rem;

$circle-size-sm: 5.75rem;
$item-size-sm: 3.5rem;

$circle-size-md: 8em;
$item-size-md: 4.75em;

.charactergroup-circle {
  @include on-inner-circle($item-count, $circle-size, $item-size); 

  > div {
    top:  72%; 
    left: 69%;
    color: var(--primary-color);

    &.active {
      color: var(--secondary-color);
    }
  }
}

@screen sm {
  .charactergroup-circle {
    @include on-inner-circle($item-count, $circle-size-sm, $item-size-sm); 

    > div {
      top:  61%; 
      left: 61%;
    }
  }
}

@screen md {
  .charactergroup-circle {
    @include on-inner-circle($item-count, $circle-size-md, $item-size-md); 

    > div {
      top:  65%; 
      left: 65%;
    }
  }

}