
@import "@/assets/scss/baseColors.scss";


$start-group: 2;
$end-pedal: 13;
$rot-pedal: 0;
$circle-size: 12.5rem;
$circle-size-sm: 21rem;
$circle-size-md: 29rem;

@mixin place-in-circle($start, $circle-size, $rot: -90) {
  $item-count: 6;
  $angle: (calc(360 / $item-count));
  $pedal: false;
  
  @if $rot == 0 {
    $pedal: true;
  }

  @for $i from $start through calc(($item-count) + 1) {
    &:nth-of-type(#{$i}) {
      @if $pedal {
        border: 2px solid $base-color;
      }
      transform: rotate($rot * 1deg) translate(calc($circle-size / 2)) rotate($rot * -1deg);
    }

    $rot: $rot + $angle;
  }
}

.charactergroups-circle {
  position: relative;
  max-width: 100%;
  border-radius: 100%;
  align-self: center;
  width: 300px;
  height: 300px;
  padding: 102px;
  
  &::after {
    position: absolute;
    content: '';
    background: $secondary-color;
    border-radius: 100%;
    padding: 5rem;
    margin: -2rem 0 0 -2rem;
    z-index: 2;
  }
}

.charactergroup {
  position: absolute;
  border-radius: 100%;
  border: 2px solid $base-color;
  color: $base-color;
  background-color: $secondary-color;
  z-index: 10;

  width: 97px;
  height: 97px;
  padding: 0.5rem;

  @include place-in-circle($start-group, $circle-size);
  
  &.active {
    border: 2px solid $secondary-color;
    background: $base-color;
    color: $secondary-color;
  }

  &:first-of-type {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-pedals {
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    background-color: $secondary-color;
  
    width: 95px;
    height: 95px;
    padding: 0.5rem;
  
    @include place-in-circle($end-pedal, $circle-size, $rot-pedal);
  
  }
}

.cross {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 210px;

  &:before, &:after {
    position: absolute;
    content: ' ';
    width: 2px;
    height: 96px;
    top: 27%;
    left: 15px;
    right: 28%;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

@screen sm {
  .charactergroups-circle {
    width: 470px;
    height: 470px;
    padding: 157px;

    &::after {
      padding: 8rem;
      margin: -3rem 0 0 -3rem;
    }
  }

  .charactergroup {
    width: 155px;
    height: 155px;
    padding: 1.25rem;

    $circle-size: 21rem;

    @include place-in-circle($start-group, $circle-size-sm);

    &-pedals {
      width: 160px;
      height: 160px;
      
      $circle-size: 21rem;
  
      @include place-in-circle($end-pedal, $circle-size-sm, $rot-pedal);  
    }
  }

  .cross::before, .cross::after {
    height: 152px;
    top: 14%;
    left: 15px;
  }
}



@screen md {
  .charactergroups-circle {    
    width: 630px;
    height: 630px;
    padding: 210px;

    &::after {
      padding: 11rem;
      margin: -5rem 0 0 -5rem;
    }
  }

  .charactergroup { 
    width: 210px;
    height: 210px;

    $circle-size: 29rem;

    @include place-in-circle($start-group, $circle-size-md);

    &-pedals {
      width: 200px;
      height: 200px;
      padding: 1rem;

      $circle-size: 29rem;

      @include place-in-circle($end-pedal, $circle-size-md, $rot-pedal);
    }
  }

  .cross::before, .cross::after {
    height: 208px;
    top: 0;
  }
}
