
@layer base {
  @font-face {
    font-family: EsquireGenericGamepdFont_CL;
    font-style: normal;
    font-weight: 400;
    src: local("EsquireGenericGamepdFont_CL"), url("../fonts/EsquireGenericGamepdFont/EsquireGenericGamepdFont_CL.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: EsquireGenericGamepdFont_CS;
    font-style: normal;
    font-weight: 400;
    src: local("EsquireGenericGamepdFont_CS"), url("../fonts/EsquireGenericGamepdFont/EsquireGenericGamepdFont_CS.ttf") format("truetype");
    font-display: swap;
  }
}