
@use "sass:color";
@tailwind base;
@tailwind components;
@tailwind utilities;

$active-control-color: #000;
$active-secondary-color: invert($active-control-color);
$active-icon-color: lighten($active-control-color, 20%);;
$active-background-color: lighten($active-control-color, 57%);
$active-background-light-color: lighten($active-control-color, 85%);
$active-background-lighter-color: lighten($active-control-color, 95%);
$active-background-phrase-correct-color: hsl(117, 60%, 50%);
$active-background-phrase-wrong-color: hsl(357, 60%, 50%);

:root {
  --primary-color: #{$active-control-color};
  --secondary-color: #{$active-secondary-color};
  --background-color: #{$active-background-color};
  --background-light-color: #{$active-background-light-color};
  --background-lighter-color: #{$active-background-lighter-color};
  --icon-color: #{$active-icon-color};
  --background-phrase-correct: #{$active-background-phrase-correct-color};
  --background-phrase-wrong: #{$active-background-phrase-wrong-color};

  color: var(--primary-color);

  h2 {
    @apply text-2xl;
  }
}